/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Général */

*{
    margin: 0;
    scroll-behavior: smooth;
}

:root{
    --white:rgba(247, 255, 242, 1);
    --orange:rgba(255, 154, 22, 1);
    --red: rgba(231, 23, 74, 1);
    --darkblue:rgba(1, 24, 38, 1);
    --aqua: rgba(44, 193, 170, 1);
    --black:rgba(1, 24, 38, 1);

    --primaryfont:"Open sans", sans-serif;
    --title:"Raleway", sans-serif;
}

h1,h2{
    color: var(--white);
    font-family: var(--title);
    font-size: 36px;
    font-weight: bold;
}

h3{
    font-family: var(--title);
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 30px;
    color: var(--white);
}

p, .front, .back{
    color: var(--white);
    font-weight: 400;
    font-family: var(--primaryfont);
}

li, summary{
    font-family: var(--primaryfont);
    font-size: 18px;
    font-weight: 600;
}

a{
    cursor: pointer;
    font-family: var(--primaryfont);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

button{
    font-family: var(--primaryfont);
    font-weight: 600;
    font-size: 16px;
}

.container{
    max-width: 1470px;
}

#qui-suis-je, #ma-formation, #mes-competences, #mes-projets{
    max-width: 1440px;
}

/* Format desktop */
/* Header */

header{
    background-color: var(--darkblue);
    padding: 40px;
    
    .container{
        display: flex;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        padding: 17px 10px;

        img{
            width:180px
        }

        p{
            font-size: 16px;
        }

        nav{
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;

            ul{
                display: flex;
                align-items: center;
                list-style: none;
                padding: 0;
                gap: 20px;
                padding-top: 20px;
                
                
                li{
                    opacity: 0;
                    animation:translate 1s linear forwards;
                
                    a{
                        color: var(--orange);
                        transition: all 0.3s ease-in-out;
                        
                        &:hover{
                            color: var(--red);
                            transition: all 0.3s ease-in-out;
                        }           
                    
                    }
                    #accueil{
                        color: var(--red);
                    }
                    
                    #bouton{
                        background-color: var(--orange);
                        color: white;
                        padding:7px;
                        cursor: pointer;
                        /* position:relative; */
                        

                        &:hover{
                            background-color: var(--red);
                        }
                    }
                    
                }
                li:nth-child(1) {animation-delay:0s}
                li:nth-child(2) {animation-delay:0.2s}
                li:nth-child(3) {animation-delay:0.4s}
                li:nth-child(4) {animation-delay:0.6s}
                li:nth-child(5) {animation-delay:0.8s}
                li:nth-child(6) {animation-delay:1s}
            }

            .modal{
                background-color: var(--white);
                width: 240px;
                padding: 20px;
                position: absolute;
                z-index: 1;
                box-shadow: 0px 0px 5px 13px rgba(0, 0, 0, 0.25);
                top: 90px;
                visibility: hidden;

                &:target{
                visibility: visible;
                
                }
                
                h2{
                    color: var(--black);
                }
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    
                    label{
                        color: var(--black);
                        font-family: var(--primaryfont);
                        font-size: 16px;
                        font-weight: 400;
                    }

                    input{
                        font-family: var(--primaryfont);
                        font-size: 16px;
                        font-weight: 400;
                    }

                    textarea{
                        font-family: var(--primaryfont);
                        font-size: 16px;
                        font-weight: 400;
                        color:grey;
                    }

                    button{
                        background-color: var(--darkblue);
                        color: var(--white);
                        font-family: var(--primaryfont);
                        font-size: 16px;
                        font-weight: 400;
                        padding: 7px;
                    }
                }

                .modal-close{
                        position: absolute;
                        top: -50px;
                        right: -5px;
                        color: var(--orange);
                        font-size: 45px;
                    }
            }

            
        }
    }
}

/* Animation header */

@keyframes translate {
    from{
        opacity: 0;
        transform:translate(0px);
    }

    to{
        opacity: 1;
        transform: translate(0, -20px);
    }
}

/* Main */
main{
    background-color: var(--darkblue);
    padding: 60px 0;

    .container{
        margin: auto;

        #qui-suis-je{
            display: flex;
            /* grid-template-columns: 1fr 1fr 1fr; */
            margin: 30px auto;
            gap: 50px;
            padding: 0 20px;
            position: relative;

            #qui-suis-je-contenu{
                max-width: 576px;
                animation: translate 2s linear forwards;
                animation-delay: 1.2s;
                opacity: 0;
                margin: auto;

                h1{
                    padding-top: 30px;
                }

                p{
                font-size: 18px;
                margin: 30px 0;
                }

                a{
                    background-color: var(--orange);
                    color: white;
                    padding: 10px 20px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;

                    &:hover{
                        background-color: var(--red);
                        transition: all 0.3s ease-in-out;
                    }
                }

            }

            .modal{
                background-color: var(--white);
                width: 240px;
                padding: 20px;
                position: absolute;
                z-index: 1;
                box-shadow: 0px 0px 5px 13px rgba(0, 0, 0, 0.25);
                top: 140px;
                left: 350px;
                visibility: hidden;

                &:target{
                visibility: visible;
                
                }
                
                h2{
                    color: var(--black);
                }

                form{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    
                    label{
                        color: var(--black);
                        background-color: var(--orange);
                        font-family: var(--primaryfont);
                        font-size: 16px;
                        font-weight: 400;
                        padding: 5px;
                    }

                    input{
                        font-family: var(--primaryfont);
                        font-size: 16px;
                        font-weight: 400;
                    }

                    textarea{
                        font-family: var(--primaryfont);
                        font-size: 16px;
                        font-weight: 400;
                        color:grey;
                    }

                    button{
                        background-color: var(--darkblue);
                        color: var(--white);
                        font-family: var(--primaryfont);
                        font-size: 16px;
                        font-weight: 400;
                        padding: 7px;
                    }
                }

                .modal-close{
                        position: absolute;
                        top: -50px;
                        right: -5px;
                        color: var(--orange);
                        font-size: 45px;
                        background-color: none;
                    }
            }

            img{
            object-fit: cover;
            width: 50%;
            height: 664px;
            opacity:0;
            animation: zoom 2s linear forwards;
            animation-delay: 1.4s;
            }

            
        }

        #ma-formation{
            margin: 80px auto;

            h2{
                text-align: center;
                margin-bottom: 50px;
            }
            
            #dev{
                max-width: 1140px;
                display: grid;
                grid-template-columns: 2fr 1fr;
                margin: auto;
                align-items: center;
                padding-bottom: 40px;

                img{
                    /* z-index: 0; */
                    position: relative;
                    width: 100%;
                    
                }
                .content{
                    background-color: var(--orange);
                    position: relative;
                    /* z-index: 1; */
                    left: -64px;
                    padding: 40px 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h3{
                        color: var(--white);
                        margin-bottom: 30px;
                    }

                    p{
                        font-size: 16px;
                    }
                }
                
                a{
                    background-color: var(--black);
                    color: var(--white);
                    position: absolute;
                    border: 1px solid var(--white);
                    color: var(--white);
                    padding: 10px 20px;
                    bottom: -23px;
                    transition: all 0.3s ease-in-out;

                    &:hover{
                        background-color: var(--red);
                        transition: all 0.3s ease-in-out;
                    }
                }
            }

            #dwwm{
                max-width: 1140px;
                display: grid;
                grid-template-columns: 1fr 2fr;
                margin: 50px auto;
                align-items: center;

                .content{
                    background-color: var(--orange);
                    position: relative;
                    padding: 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h3{
                        color: var(--white);
                        margin-bottom: 30px;
                    }

                    p{
                        font-size: 16px;
                    }

                    a{
                        background-color: var(--black);
                        color: var(--white);
                        position: absolute;
                        border: 1px solid var(--white);
                        color: var(--white);
                        padding: 10px 20px;
                        bottom: -23px;
                        
                        &:hover{
                            background-color: var(--red);
                        }
                    }
                }

                img{
                    z-index: 0;
                    position: relative;
                    width: 100%;                   
                }
                
            }
        }

        #mes-competences{
            margin: auto;
            padding: 50px 0;

            h2{
                text-align: center;
                margin-bottom: 50px;
            }

            div{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 40px;

                article{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    details{
                        background-color: var(--white);
                        padding: 5px;

                        summary{
                            color: var(--orange);
                            list-style: none;
                            padding: 10px 0;
                            margin-left: 15px;
                            display: block;
                            cursor: pointer;
                            width: fit-content;
                            border-bottom: 2px solid var(--red);

                        }

                        ul{

                            li{
                                margin: 7px 0;
                            }
                        }
                        
                    }                
                }
            }      
        }

        #mes-projets{
            margin: auto;
            padding: 30px 0;

            #en-tête{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 50px 0;

                a{
                   color: var(--white); 
                   border: 1px solid var(--white);
                   padding: 10px 20px;
                   transition: all 0.3s ease-in-out;

                   &:hover{
                    background-color: var(--red);
                    transition: all 0.3s ease-in-out;
                   }
                }

            }
            #cards{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 98px;
                
                article{
                    border: 1px solid var(--white);
                    padding: 25px 15px 0 15px;
                    position: relative;

                    img{
                        width: 100%;
                        object-fit: cover;
                        height: 180px;
                    }

                    h3{
                        margin-top: 30px;
                    }

                    p{
                        font-size: 16px;

                    }

                    a{
                        color: var(--white); 
                        border: 1px solid var(--white);
                        padding: 10px 20px;
                        position:absolute;
                        margin: 25px 0;
                        transition: all 0.3s ease-in-out;

                        &:hover{
                        background-color: var(--red);
                        transition: all 0.3s ease-in-out;
                        }
                    }
                }

                .front::before{
                    content:'Front-end';
                    color:var(--white);
                    background-color: var(--darkblue);
                    font-size: 16px;
                    top: 45px;
                    left: 30px;
                    position: absolute;
                    padding: 5px 3px;
                }

                .back::before{
                    content:'Back-end';
                    color:var(--white);
                    background-color: var(--darkblue);
                    font-size: 16px;
                    top: 45px;
                    left: 30px;
                    position: absolute;
                    padding: 5px 3px;
                }
            }
        }
    }
}

@keyframes zoom {
    from{
        opacity: 0;
        transform:scale(0);
    }

    to{
        opacity: 1;
        transform: scale(1.02);
    }
}

/* Footer */

footer{
    background-color: var(--aqua);
    margin: auto;
    font-size: 16px;
    text-align: center;
    padding: 15px 0;
}